/**************************************************************************/
/*                                                                        */
/*                    Hoja de estilo de pancake_recipe.html               */
/*                    autora: Sandra Barbara Pirpamer                     */
/*                    versión: 1.0                                        */
/*                    fecha: octubre de 2023                              */ 
/*                    comentario: trabajo de lenguaje de marcas           */
/*                                                                        */
/*                                                                        */  
/**************************************************************************/   

@font-face {
    font-family: pancake;
    src: url(../font/VeganStylePersonalUse-5Y58.ttf);
}

@font-face {
    font-family: normaltext;
    src: url(../font/OpenSans-Regular.ttf);
}
body {background-color: peru;
    margin:0;padding:0;
} 

img {
    
    max-width: 100%;
    height: auto;
}

#wrapper {width: 65%;
    height: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
     background-color: white;
     /*color: rgb(82, 43, 1);*/
     color: #693f27;
     padding: 30px;
     box-shadow: inset;
     border-color: linen;
}

h1 {font-family: pancake;
  letter-spacing: 4px; 
  color: 693f27; 
}

 
ol, ul {
    font-family: normaltext;
    font-weight: lighter;
    margin: auto;
    
    
}

li {
    margin-bottom: 10px;
}

dt, dl, dd {
    font-family: normaltext;
    margin-left: 3%;
    /*margin-right: 30%;*/
    margin-bottom: 20px;

}

blockquote {
    font-family: pancake;
    font-size: x-large;
    font-weight: lighter;
    text-align: center;
    color: #d53032;
    padding-top: 10px;
    padding-bottom: 20px;
    letter-spacing: 2px;
}

#subtitle {
    font-family: normaltext;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

#title {
    font-family: pancake ;
    letter-spacing: 3px; 
    font-size: x-large;    
}

#per-serving {
    font-size: small;
    font-weight: lighter;
}

#recipe {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 20px;

}

#preparation #ingredients{
    margin-top: 50px;
    margin-bottom: 50px;
}

#table {
    border: 2px solid black;
    background-color: #f3e1c2;
    max-width: 480px;
    

}

div #facts {
    column-count: 2;
    padding-bottom: 10px;
    padding-left: 5px;
    

}

#percentage {
    text-align: right;
}

.bb {
    border-bottom: 1px dotted black;
    margin-bottom: 10px;
    padding-left: 0px;
}



    

