/************************************************************/
/*                                                          */
/*          hoja de estilo de tortilla.html                 */
/*          autora: Sandra Pirpamer                         */
/*          version: 1.0                                    */
/*          fecha: octubre de 2023                          */
/*          comentario: trabajo de lenguajes de m           */
/************************************************************/


@font-face {src:url();
    font-family:  ;
    
}

body {background-color: #f7f298; /*para que el wrapper se pegue a los bordes*/
    margin:0;
    padding:0;
}

#wrapper {
    width:80%;
    margin:auto;
    background-color: #fff;
}